img{
    width: 100px;
    height: 300px;
    border-radius: 20px;
}

.img-retro-games img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ac074e;
    color: rgb(25, 0, 255);
}

nav img {
    display: auto;
    margin: 0px;
    width: 100%;
    height: auto;
}
